body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color:black
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    color:#fff
}

header {
    background-color: #2d2d2d;
    text-align: center;
}

.foto-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    
}

.lista-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    color:#fff
}

.projeto {
    text-align: center;
    color:#fff
}

.projeto img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
